.main {
    margin-top: 8%;
}
.banner {
    overflow: hidden;
    background-color: white;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    display:flex;
    align-content:center;
}
.banner-redirect{
    font-size:large;
    align-self: center;
    height: fit-content;
    color:black;
    text-decoration:none;
    padding-left: 0.5%;
    padding-right: 0.5%;
    margin-left: 1%;
    margin-right: 1%;
}
.banner-redirect:hover{
    height: fit-content;
    background-color: lightgray;
}